/*GOOGLE FONTS*/
/*font-family: 'Bungee Hairline', cursive;
font-family: 'Nixie One', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Comfortaa', cursive;
END OF GOOGLE FONTS*/
#id{
  text-align: center;
}
*{
  font-family: 'Bungee Hairline', sans-sarif;
  list-style-type: none;
  transition: all 0.3s ease 0s;
}
button:focus {
    outline:none !important;
}
html, body{
  height: 100%;
}
body {
  margin: 0px;
  background-color: #f1f1f1;
}
.container1{
  height: 100vh;
  background-color: #0e0e0e;
  background-repeat: repeat-x;
  background-size: cover;
}
.cover-thing {
    width: 100%;
    height: 100%;
    float: left;
}
.row1{
  padding: 4em;
}
.bio{
  margin-bottom: 0px;
  background-color: #f1f1f1;
  padding: 4em auto;
}
.bio img{
  border-radius: 50%;
  width: 15em;
  display: block;
  margin: 2em auto;
  border-bottom: 2px solid gray;
}
.bio p{
  font-size: 2em;
  text-align: center;
  margin: 2em auto;
}
.typing{
  padding-top: 80px;
  margin-top: 0px;
}
.section{
  height: 100vh;
}
body{
  font-family: sans-serif;
}
.text{
  color: white;
  text-align: center;
  color: white;
  font-size: 3em;}
.text h1{
  text-align: center;
  font-size: 3em;
}
.buttons button{
  color: white;
  display: inline-block;
  background-color: transparent;
  border: 2px solid white;
  width: 6em;
  font-size: 2em
}
.buttons button:hover{
  background-color: gray;
  opacity: 0.5;
  cursor: pointer;
}
.profile{
  text-align: center;
  display:block;
  margin: auto;
  border-radius: 50%;
  height: 15em;
  width: 15em;
  background: url(./media/drawnicon.jpg) no-repeat center center;
  background-size: contain;
  }
.profile:hover{
  background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjAAAAAJDhjNjIwNmI2LTg1YWMtNDAwMS04NDYyLTA1MTg4OGIwYjdhZA.jpg)
}
.smol-text{
  margin-top: 2em;
}
.list-inline{
  display: flex;
}
.list-inline li{
  flex: 1;
  text-align: center;
  margin-top: 3em;
}
.icon img{
  width: 50px;
}
#pro-title{
}
#projects{
  background: url(https://i.gyazo.com/8c00820979ca19e74efb64fa9ae6a341.gif) no-repeat fixed;
  background-position: right;
  background-size: 100vh;
  background-color: #34393d;
}
.side-bar{
  background-color: gray;
  height: 100vh;
}
.side-bar ul{
  padding: 0px;
}
.side-bar ul li{
  margin: 30px auto;
}
.side-bar ul li button{
  margin: 0px auto;
  padding: 0px 50px;
  font-size: 3em;
  flex-grow: 2;
  flex-wrap: wrap;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
}
.side-bar ul li button:hover{
  background-color: #f1f1f1;
}
.stage{
  flex: 2;
  flex-grow: 3;
  : url(https://i.gyazo.com/8c00820979ca19e74efb64fa9ae6a341.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 50%;
  background-position: 60% 90%;
}
.stage {
  background: #35393c;
}
.stage img {
  float: right;
  height: 100%;
}
.verticle-text p{
  text-align: center;
  font-size: 3em;
  color: white;
}
.list-buttons{
  text-align: center;
  color: white;
  font-size: 2em;
}
.list-buttons p{
  color: white;
}
.list-buttons :hover{
  background: lightgray;
}
.photo-title{
  text-align: center;
  color: white;
  background-color: black;
  margin: 0px;
  margin-bottom: 10px;
  padding: 1em;
}
* { box-sizing: border-box; }
/* ---- grid ---- */
.section4{
  background: url("./media/wirepattern");
  background-repeat: repeat;
}
.grid {
  margin: 0 auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 350px;
  -webkit-filter: drop-shadow(5px 5px 5px #888);
  filter: drop-shadow(0px 5px 10px #222);
}
.grid-item.is-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2; /* keep dragged item on top */
}
